<div class="frontend-container">
  <div class="header">
    <div  ng-init="menu_template_src = '/views/includes/menu.html'" ng-include src="menu_template_src"></div>
  </div>
  <div class="body-wrapper">
    <div class="jumbotron ">
      <h1>AngularJS CMS testing! </h1>
      <p class="lead">
        <img src="images/neev.png" alt="I'm Yeoman">
      </p>
    </div>

    <div class="row marketing">
      <h4>Angular</h4>
      <p>
        AngularJS is a toolset for building the framework most suited to your application development.
      </p>
      <h4>MongoDB (Agile and Scalable)</h4>
      <p> 
        MongoDB (from "humongous") is an open-source document database, and the leading NoSQL database. Written in C++</p>
        <h4>Standard driver and REST API support</h4>
        <p>
          Connect to your database using standard MongoDB drivers in the language of your choice or use MongoLab's JSON-based REST API.
        </p>
        <h4>Grunt Server</h4>
        <p>
          The Grunt ecosystem is huge and it's growing every day. With literally hundreds of plugins to choose from, you can use Grunt to automate just about anything with a minimum of effort. If someone hasn't already built what you need, authoring and publishing your own Grunt plugin to npm is a breeze.</p>
        </div>
      </div>
      <div class="footer">
        @From The Neev Innovative Team.
      </div>
    </div>


