<div id="menu"  ng-controller="MainCtrl">
    <ul>
        <li ng-repeat="item in menu">
            <span ng-switch on="item.current" >
                <a ng-switch-when="true" data-ng-href="{{item.url}}" class="current" >{{item.title}}</a>
                <a ng-switch-when="false" data-ng-href="{{item.url}}">{{item.title}}</a>
            </span>
        </li>
        <li class="logout">
           <span>{{loginUser}}</span> | <a href="#" ng-click="logOut()">Logout</a>
        </li>
    </ul>
</div>